:root {
  font-family: "Rubik Doodle Shadow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.greeting_contianer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageslider_contianer {
  display: flex;
  justify-content: center;
  align-items: center;
}
